* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-moz-selection { color: #fff; background: #000; }
::selection { color: #fff; background: #000; }

html { font-size: 14px }

body, pre {
	font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
	line-height: 1.6;
	font-size: 1rem;
	font-feature-settings:"onum" 1, "pnum" 1, "kern" 1, "ss01" 1;
	font-kerning: normal;
	overflow-x: hidden;
	background: white;
}

a {
	color: #000;
	text-decoration: none;
}

a:not(.nbb) {
	font-weight: bold;

}

a:not(.nbb):hover {
	padding-bottom: 0.1em;
	border-bottom: 1px solid #000;
}

/* Typography */

h1, h2, h3, h4, h5, h6, .f1, .f2, .f3 {
	font-family: 'Inter UI', 'arial', 'helvetica neue', sans-serif;
	font-weight: inherit;
}

h1, .f1 { font-size: 5rem }
h2, .f2 { font-size: 2.25rem; }
h3, .f3 { font-size: 1.75rem; }
h4, .f4 { font-size: 1.25rem; }
h5, .f5 { font-size: 1rem; }
.f6 { font-size: .825rem; }

.i { font-style: italic; }
.b { font-weight: bold; }
.underline {text-decoration: underline; }
.strike { text-decoration: line-through; }
.ttc { text-transform: capitalize; }
.ttu { text-transform: uppercase; }
.tac { text-align: center }
.tal { text-align: left }
.tar { text-align: right }
.brw { word-wrap: break-word; }
.bra { word-wrap: break-all; }

.ffmono { font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace }
.ffi { font-family: 'Inter UI', 'arial', 'helvetica neue', sans-serif }

.fwb { font-weight: bold; }
.fwn { font-weight: normal; }

.tcgrey, .tcgrey a { color: #999 }
.tcwhite, .tcwhite a { color: #fff }
.tcblack, .tcblack a { color: #000 }

.lh1 { line-height: 1.1 }

code {
    background-color: #eee;
    padding: 2px;
}

blockquote {
    border-left: 4px solid #ddd;
    padding-left: 30px;
    color: #999;
}

/* Blocks */

.db { display: block; }
.dib { display: inline-block; }
.dn { display: none; }

.ofh { overflow: hidden; }

.pst { position: sticky; position: -webkit-sticky; }
.pa { position: absolute; }
.pr { position: relative; }
.pf { position: fixed};
.t0 { top: 0; }
.l0 { left: 0; }
.b0 { bottom: 0; }

.fl { float: left; }
.fr { float: right; }
.fn { float: none; }

/* https://github.com/CreoOne/x001F */
.\31{width:100.000%}
.\31 \2f 1{width:100.000%}
.\31 \2f 2{width:50.000%}
.\31 \2f 3{width:33.333%}
.\31 \2f 4{width:25.000%}
.\31 \2f 5{width:20.000%}
.\31 \2f 6{width:16.667%}
.\32 \2f 3{width:66.667%}
.\32 \2f 5{width:40.000%}
.\33 \2f 4{width:75.000%}
.\33 \2f 5{width:60.000%}
.\34 \2f 5{width:80.000%}
.\35 \2f 6{width:83.333%}
.auto { width: auto; }

.mw { max-width: 800px }

.ba { border-style: solid; border-width: 1px; }
.bt { border-top-style: solid; border-top-width: 1px; }
.br { border-right-style: solid; border-right-width: 1px; }
.bb { border-bottom-style: solid; border-bottom-width: 1px; }
.bl { border-left-style: solid; border-left-width: 1px; }
.bn { border-style: none; border-width: 0; }

.p0-5 { padding: 0.75rem }
.p1 { padding: 1.5rem }
.p2 { padding: 3rem }
.px1 { padding-left: 1.5rem; padding-right: 1.5rem; }
.px2 { padding-left: 3rem; padding-right: 3rem; }
.py1 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.py2 { padding-top: 3rem; padding-bottom: 3rem; }
.pt1 { padding-top: 1.5rem }
.pb1 { padding-bottom: 1.5rem }
.pb0 { padding-bottom: 0 }
.pb2 { padding-bottom: 3rem }

.m0 { margin: 0 }
.my0-5 { margin: 0.75rem 0 }
.my1 { margin: 1.5rem 0 }
.mr1 { margin-right: 1.5rem }
.mt1 { margin-top: 1.5rem }
.mb1 { margin-bottom: 1.5rem }
.my2 { margin: 3rem 0 }
.ml2 { margin-left: 3rem }
.mt2 { margin-top: 3rem }
.mt3 { margin-top: 4rem }
.mb2 { margin-bottom: 3rem }
.mb3 { margin-bottom: 4.5rem }
.mb4 { margin-bottom: 6rem }
.mxa { margin-left: auto; margin-right: auto; }

.mt50 { margin-top: 50% }
.ml50 { margin-left: 50% }
.trans-y50 { transform: translateY(-50%) }
.trans-x50 { transform: translateX(-50%) }

img { width: 100% }

hr {
	border: none;
	border-bottom: 1px solid #fff;
}

p, ul, ol { margin: 1.5rem 0 }
p:first-child, ul:first-child, ol:first-child { margin-top: 0 }
p:last-child, ul:last-child, ol:last-child { margin-bottom: 0 }

/* Media query customs */

@media (max-width: 900px) {
	.m-\31 { width:100.000% }

	h1, .f1 { font-size: 4rem; }
	h2, .f2 { font-size: 2.0rem; }
}
