* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {font-size: 15px}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  font-size: 1rem;
  background: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

a {
  color: #000;
}

a.nbb { text-decoration: none }

.footnote-ref a {
	text-decoration: underline;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
	font-weight: 600;
}

.f1 {font-size:1.61803rem}
.f2 {font-size:0.875rem}
.f3 {font-size:0.61803rem}

.i {font-style: italic}
.ul {text-decoration: underline}
.strike {text-decoration: line-through}
.ttc {text-transform: capitalize}
.ttu {text-transform: uppercase}
.tac {text-align: center}
.tar {text-align: right}
.tofe {text-overflow:ellipsis}

.index-item:hover .primary {
	text-decoration: underline
}

code, .ffmono{font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace}
.ffsans{font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"}

strong {font-weight:600}
.fwb {font-weight: 600}
.fwn {font-weight: normal}

.lh1 {line-height: 1.8}

.wwb {word-wrap: break-word}
.wsnw {white-space:nowrap}

.tclightgrey {color: #e1e1e1}
.tcgrey {color:#747474}
.bcgrey {background: #f5f5f5}

.hover.tcblack-h:hover, .hover:hover .tcblack-h {color:#000}

/* blocks */

.db{display:block}
.dib{display:inline-block}
.di{display:inline}
.dn{display:none}
.dx{display:flex}
.pr{position:relative}
.pa{position:absolute}
.fl{float:left}
.fr{float:right}

.fxg{flex-grow:1}
.fxs0{flex-shrink:0}

.ofh{overflow:hidden}
.clear-float:after {
  clear: both;
  content: "";
  display: table;
}

.t0 {top: 0}
.l0 {left: 0}

.w-1{width:100%}
.w-50{width:50%}
.auto {width: auto}

p, ul:not(.clean), ol:not(.clean), pre {margin-top: 1.5rem;margin-bottom:1.5rem}
p:first-child, ul:first-child:not(.clean), ol:first-child:not(.clean), pre:first-child {margin-top: 0}
p:last-child, ul:last-child:not(.clean), ol:last-child:not(.clean), pre:first-child {margin-bottom: 0}

img {width: 100%}

ul li:not(.clean), ol li:not(.clean) {
  margin-left:1rem;
  padding-left:6px;
}

/* border, margin, padding */

.ba {border-style: solid; border-width: 1px}
.bb {border-bottom-style: solid; border-bottom-width: 1px}

.p0 {padding: 0}
.py0-1{padding-top:.30rem;padding-bottom:.30rem}
.px0-1{padding-left:.30rem;padding-right:.30rem}
.pl0-2{padding-left:.6rem}
.pr0-2{padding-right:.6rem}
.p1 {padding: 3rem}
.px1 {padding-left: 3rem;padding-right: 3rem}
.py1 {padding-top: 3rem;padding-bottom: 3rem}
.pt1 {padding-top: 3rem}
.pr1 {padding-right: 3rem}
.pb1 {padding-bottom: 3rem}
.pl1 {padding-left: 3rem}
.px8px {padding-left:16px;padding-right:16px}
.py4px {padding-top:4px;padding-bottom:4px}

.m0 {margin: 0}
.mb0-5{margin-bottom:1.5rem}
.mr0-5{margin-right:1.5rem}
.ml0-5{margin-left:1.5rem}
.my0-5{margin-top:1.5rem;margin-bottom:1.5rem}
.m1 {margin: 3rem}
.mx1 {margin-left: 3rem;margin-right: 3rem}
.my1 {margin-top: 3rem;margin-bottom: 3rem}
.mt1 {margin-top: 3rem}
.mr1 {margin-right: 3rem}
.mb1 {margin-bottom: 3rem}
.ml1 {margin-left: 3rem}
.mt2 {margin-top: 6rem}
.mb2 {margin-bottom: 6rem}

.mxa {margin-left: auto; margin-right: auto}

.lc-mr0:last-child{margin-right:0}

.mt50 {margin-top: 50%}
.ml50 {margin-left: 50%}
.trans-y50 {transform: translateY(-50%)}
.trans-x50 {transform: translateX(-50%)}

.mw800{max-width:800px}
.mw400{max-width:400px}

hr {
  border: 0;
  height: 0;
  margin: 1.5rem 0;
  border-bottom: 1px solid #fff;
}

blockquote {
  border-left: 1px solid #000;
  padding-left: 1.5rem;
  margin-left: 1.5rem;
}

.cp{cursor:pointer}
.disabled {
  pointer-events: none;
  cursor:default;
}

.brpill {border-radius: 24px}

pre, code {
  font-size: 0.9rem;
  line-height: 1.5;
}

.tile{padding:0 0.5rem}
.tile:first-child{padding-left:0}
.tile:last-child{padding-right:0}

.input-clean {
  font-family: inherit;
  font-size: inherit;
  background: inherit;
  outline: none;
  border: none;
}

.button {
  display: inline-block;
	background: #000;
	color: #fff;
	padding: 14px 64px;
	text-decoration: none;
	border-radius: 50px;
	line-height: 1.4;
}

textarea {resize: none}

/* media query customs */

@media (max-width: 600px) {
  .m-w-100 {width: 100%}
  .m-fl {float:left}
  .m-db {display:block}

  .p0 {padding: 0}
  .p1 {padding: 1.5rem}
  .px1 {padding-left: 1.5rem;padding-right: 1.5rem}
  .py1 {padding-top: 1.5rem;padding-bottom: 1.5rem}
  .pt1 {padding-top: 1.5rem}
  .pr1 {padding-right: 1.5rem}
  .pb1 {padding-bottom: 1.5rem}
  .pl1 {padding-left: 1.5rem}
  
  .m-px0{padding-left:0;padding-right:0}

  .m0 {margin: 0}
  .m1 {margin: 1.5rem}
  .mx1 {margin-left: 1.5rem;margin-right: 1.5rem}
  .my1 {margin-top: 1.5rem;margin-bottom: 1.5rem}
  .mt1 {margin-top: 1.5rem}
  .mr1 {margin-right: 1.5rem}
  .mb1 {margin-bottom: 1.5rem}
  .ml1 {margin-left: 1.5rem}

	.m-mt0 {margin-top: 0}
  .m-mb0-5{margin-bottom:1rem}
}
