* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {font-size: 16px}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.7;
  font-size: 1rem;
  background: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: #000;
  text-decoration: none;
}

a:not(.nbb) {
  border-bottom: 1px solid #000;
  padding-bottom: 0.1rem;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
	font-weight: 600;
}

.f1 {font-size:1.61803rem}
.f2 {font-size:0.875rem}
.f3 {font-size:0.61803rem}

.i {font-style: italic}
.ul {text-decoration: underline}
.strike {text-decoration: line-through}
.ttc {text-transform: capitalize}
.ttu {text-transform: uppercase}
.tac {text-align: center}
.tofe {text-overflow:ellipsis}

code, .ffmono{font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace}
.ffsans{font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"}

strong {font-weight:600}
.fwb {font-weight: 600}
.fwn {font-weight: normal}

.lh1 {line-height: 1.8}

.wwb {word-wrap: break-word}
.wsnw {white-space:nowrap}

.tcgrey {color:#d0d0d0}

/* blocks */

.db{display:block}
.dib{display:inline-block}
.di{display:inline}
.dn{display:none}
.dx{display:flex}
.pr{position:relative}
.pa{position:absolute}
.fl{float:left}
.fr{float:right}

.fxg{flex-grow:1}
.fxs0{flex-shrink:0}

.ofh{overflow:hidden}
.clear-float:after {
  clear: both;
  content: "";
  display: table;
}

.t0 {top: 0}
.l0 {left: 0}

.w-1{width:100.000%}
.auto {width: auto}

p, ul:not(.clean), ol:not(.clean) {margin-top: 1.5rem;margin-bottom:1.5rem}
p:first-child, ul:first-child:not(.clean), ol:first-child:not(.clean) {margin-top: 0}
p:last-child, ul:last-child:not(.clean), ol:last-child:not(.clean) {margin-bottom: 0}

img {width: 100%}

ul li:not(.clean), ol li:not(.clean) {
  margin-left:1rem;
  padding-left:6px;
}

/* border, margin, padding */

.ba {border-style: solid; border-width: 1px}
.bt {border-top-style: solid; border-top-width: 1px}
.br {border-right-style: solid; border-right-width: 1px}
.bb {border-bottom-style: solid; border-bottom-width: 1px}
.bl {border-left-style: solid; border-left-width: 1px}

.p0 {padding: 0}
.py0-25{padding-top:.75rem;padding-bottom:.75rem}
.p1 {padding: 3rem}
.px1 {padding-left: 3rem;padding-right: 3rem}
.py1 {padding-top: 3rem;padding-bottom: 3rem}
.pt1 {padding-top: 3rem}
.pr1 {padding-right: 3rem}
.pb1 {padding-bottom: 3rem}
.pl1 {padding-left: 3rem}

.m0 {margin: 0}
.mb0-5{margin-bottom:1.5rem}
.mr0-5{margin-right:1.5rem}
.ml0-5{margin-left:1.5rem}
.m1 {margin: 3rem}
.mx1 {margin-left: 3rem;margin-right: 3rem}
.my1 {margin-top: 3rem;margin-bottom: 3rem}
.mt1 {margin-top: 3rem}
.mr1 {margin-right: 3rem}
.mb1 {margin-bottom: 3rem}
.ml1 {margin-left: 3rem}
.mb2 {margin-bottom: 6rem}

.mxa {margin-left: auto; margin-right: auto}

.lc-mr0:last-child{margin-right:0}

.mt50 {margin-top: 50%}
.ml50 {margin-left: 50%}
.trans-y50 {transform: translateY(-50%)}
.trans-x50 {transform: translateX(-50%)}

.mw700{max-width:700px}

hr {
  border: 0;
  height: 0;
  margin: 1.5rem 0;
  border-bottom: 1px solid #fff;
}

blockquote {
  border-left: 1px solid #000;
  padding-left: 1.5rem;
  margin-left: 1.5rem;
  max-width: 66.666%;
}

.cp{cursor:pointer}
.disabled {
  pointer-events: none;
  cursor:default;
}

pre, code {
  font-size: 0.8rem;
  line-height: 1.5;
}

.gallery {margin: 1.5rem 0}
.gallery:first-child{margin-top:0}
.gallery:last-child{margin-bottom:0}

.tile{padding:0 0.5rem}
.tile:first-child{padding-left:0}
.tile:last-child{padding-right:0}

/* media query customs */

@media (max-width: 900px) {
  html{font-size:16px}

  .m-\31 {width: 100%}
  .m-fl {float:left}
  .m-db {display:block}

  .p0 {padding: 0}
  .p1 {padding: 2rem}
  .px1 {padding-left: 2rem;padding-right: 2rem}
  .py1 {padding-top: 2rem;padding-bottom: 2rem}
  .pt1 {padding-top: 2rem}
  .pr1 {padding-right: 2rem}
  .pb1 {padding-bottom: 2rem}
  .pl1 {padding-left: 2rem}

  .m0 {margin: 0}
  .m1 {margin: 2rem}
  .mx1 {margin-left: 2rem;margin-right: 2rem}
  .my1 {margin-top: 2rem;margin-bottom: 2rem}
  .mt1 {margin-top: 2rem}
  .mr1 {margin-right: 2rem}
  .mb1 {margin-bottom: 2rem}
  .ml1 {margin-left: 2rem}
  .mb2 {margin-bottom: 4rem}
}
