* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {font-size: 18px}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  font-size: 1rem;
  background: white;
}

a {
  color: #000;
  text-decoration: none;
}

a:not(.nbb) {
  border-bottom: 1px solid #000;
  padding-bottom: 0.1rem;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-size: inherit;
  font-family:georgia, serif;
}

.f1 {font-size:1.61803rem}
.f6 {font-size:0.875rem}

.i {font-style: italic}
.b {font-weight: bold}
.ul {text-decoration: underline}
.strike {text-decoration: line-through}
.ttc {text-transform: capitalize}
.ttu {text-transform: uppercase}
.tac {text-align: center}

.ffmono{font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace}
.ffsans{font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"}

.fwb {font-weight: bold}
.fwn {font-weight: normal}

.lh1 {line-height: 1.8}

.wwb {word-wrap: break-word}

/* blocks */

.db{display:block}
.dib{display:inline-block}
.dn{display:none}
.dx{display:flex}
.pr{position:relative}
.pa{position:absolute}
.pf{position:fixed}
.fl{float:left}
.fr{float:right}
.fn{float:none}

.clear:after {
    clear: both;
    content: "";
    display: table;
}

.t0 {top: 0}
.l0 {left: 0}

.\31{width:100.000%}
.\31 \2f 2{width:50.000%}
.\31 \2f 3{width:33.333%}
.\31 \2f 4{width:25.000%}
.\31 \2f 5{width:20.000%}
.\31 \2f 6{width:16.667%}
.\32 \2f 3{width:66.667%}
.\32 \2f 5{width:40.000%}
.\33 \2f 4{width:75.000%}
.\33 \2f 5{width:60.000%}
.\34 \2f 5{width:80.000%}
.\35 \2f 6{width:83.333%}
.auto {width: auto}

p, ul:not(.clean), ol:not(.clean) {margin-top: 1.5rem;margin-bottom:1.5rem}
p:first-child, ul:first-child:not(.clean), ol:first-child:not(.clean) {margin-top: 0}
p:last-child, ul:last-child:not(.clean), ol:last-child:not(.clean) {margin-bottom: 0}

li:not(.clean) {margin-top: 1rem;margin-bottom:1rem}
li:first-child:not(.clean) {margin-top: 0}
li:last-child:not(.clean) {margin-bottom: 0}

img {width: 100%}

ul{list-style:none}
ol li{margin-left:1rem}

/* border, margin, padding */

.ba {border-style: solid; border-width: 1px}
.bt {border-top-style: solid; border-top-width: 1px}
.br {border-right-style: solid; border-right-width: 1px}
.bb {border-bottom-style: solid; border-bottom-width: 1px}
.bl {border-left-style: solid; border-left-width: 1px}
.bn {border-style: none; border-width: 0}

.p0 {padding: 0}
.p1 {padding: 3rem}
.px1 {padding-left: 3rem;padding-right: 3rem}
.py1 {padding-top: 3rem;padding-bottom: 3rem}
.pt1 {padding-top: 3rem}
.pr1 {padding-right: 3rem}
.pb1 {padding-bottom: 3rem}
.pl1 {padding-left: 3rem}

.m0 {margin: 0}
.mb0-5{margin-bottom:1.5rem}
.mr0-5{margin-right:1.5rem}
.m1 {margin: 3rem}
.mx1 {margin-left: 3rem;margin-right: 3rem}
.my1 {margin-top: 3rem;margin-bottom: 3rem}
.mt1 {margin-top: 3rem}
.mr1 {margin-right: 3rem}
.mb1 {margin-bottom: 3rem}
.ml1 {margin-left: 3rem}

.mxa {margin-left: auto; margin-right: auto}

.mt50 {margin-top: 50%}
.ml50 {margin-left: 50%}
.trans-y50 {transform: translateY(-50%)}
.trans-x50 {transform: translateX(-50%)}

.mw700{max-width:700px}

hr {
  border: 0;
  height: 0;
  margin: 1.5rem 0;
  border-bottom: 1px solid #fff;
}

blockquote {
  border-left: 2px solid #000;
  padding-left: 20px;
  font-family: georgia, sans;
  font-weight: bold;
}

/* media query customs */

@media (max-width: 900px) {
  html{font-size:16px}

  .m-\31 {width: 100%}
  .m-fl {float:left}
  .m-db {display:block}

  .p0 {padding: 0}
  .p1 {padding: 2rem}
  .px1 {padding-left: 2rem;padding-right: 2rem}
  .py1 {padding-top: 2rem;padding-bottom: 2rem}
  .pt1 {padding-top: 2rem}
  .pr1 {padding-right: 2rem}
  .pb1 {padding-bottom: 2rem}
  .pl1 {padding-left: 2rem}

  .m0 {margin: 0}
  .m1 {margin: 2rem}
  .mx1 {margin-left: 2rem;margin-right: 2rem}
  .my1 {margin-top: 2rem;margin-bottom: 2rem}
  .mt1 {margin-top: 2rem}
  .mr1 {margin-right: 2rem}
  .mb1 {margin-bottom: 2rem}
  .ml1 {margin-left: 2rem}
}
