.content { min-height: calc(100vh - 140px); }

h4 a { margin-right: 8px; }

blockquote {
    border-left: 4px solid #ddd;
    padding-left: 30px;
    color: #999;
}

.log #sectors h3,
.log #projects h3 {
	font-size: 1.5rem !important;
}

.header {
	height: auto;
	max-height: 700px;
	transition: max-height 0.5s;
	overflow-y: hidden;
}

.header.collapsed {
	max-height: 46px;
}

.footer {
	background: white;
}

/**
 * loading
 */

.loading {
  margin: -1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50rem;
  position: fixed;
  top: 50%;
  left: 50%;
  border: 3px solid #fff;
  border-top: 3px solid #000;
  border-left: 3px solid #000;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

/* Media query customs */

@media (max-width: 900px) {
    .sector {
        width: 50% !important;
    }

	.header.collapsed {
		max-height: 40px;
	}
}
